<div style="display: flex; flex-direction: row; justify-content: flex-start;" class="product-menu">

    <div style="display: flex; flex-direction: column;">
        <!-- <a [routerLink]="['/products/productlist/', {category:'All'}]" class="dropdown-item">All products</a> -->
        <a [routerLink]="['/products/productsByCategory/', {category:'BathroomCPFittings'}]" (click)="this.cs.setShowSidepanel(true)" class="dropdown-item">Bathroom CP Fittings</a>
        <a [routerLink]="['/products/productsByCategory/', {category:'Sanitaryware'}]" (click)="this.cs.setShowSidepanel(true)" class="dropdown-item">Sanitaryware</a>
        <a [routerLink]="['/products/productsByCategory/', {category:'ShowerEnclosure'}]" (click)="this.cs.setShowSidepanel(true)" class="dropdown-item">Shower Enclosure</a>
        <a [routerLink]="['/products/productsByCategory/', {category:'ShowerPanel'}]" (click)="this.cs.setShowSidepanel(true)" class="dropdown-item">Shower Panel</a>
        <a [routerLink]="['/products/productsByCategory/', {category:'BathTub'}]" (click)="this.cs.setShowSidepanel(true)" class="dropdown-item">Bath Tub</a>
        <a [routerLink]="['/products/productsByCategory/', {category:'KitchenSink'}]" (click)="this.cs.setShowSidepanel(true)" class="dropdown-item">Kitchen Sink</a>
        <a [routerLink]="['/products/productsByCategory/', {category:'PipesandFittings'}]" (click)="this.cs.setShowSidepanel(true)" class="dropdown-item">Pipes and Fittings</a>
        <a [routerLink]="['/products/productsByCategory/', {category:'BrassValvesandFittings'}]" (click)="this.cs.setShowSidepanel(true)" class="dropdown-item">Brass Valves and Fittings</a>
        <a [routerLink]="['/products/productsByCategory/', {category:'WaterTanks'}]" (click)="this.cs.setShowSidepanel(true)" class="dropdown-item">Water Tanks</a>
        <a [routerLink]="['/products/productsByCategory/', {category:'DomesticPumpsAndMotors'}]" (click)="this.cs.setShowSidepanel(true)" class="dropdown-item">Domestic Pumps And Motors</a>
        <a [routerLink]="['/products/productsByCategory/', {category:'WaterHeaters'}]" (click)="this.cs.setShowSidepanel(true)" class="dropdown-item">Water Heaters</a>
        <a [routerLink]="['/products/productsByCategory/', {category:'Accessories'}]" (click)="this.cs.setShowSidepanel(true)" class="dropdown-item">Accessories</a>
    </div>
</div>