<div class="container">
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table text-center table-hover mx-auto w-auto">
                <thead>
                    <th *ngFor="let col of colHeadings" class="">{{col}}</th>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders;let i = index">
                        <td>{{order.orderId}}</td>
                        <td>{{order.name}}</td>
                        <td *ngIf="order.userId != undefined">{{order.userId}}</td>
                        <td>{{order.date| date:'dd-MMM-yyyy @ hh:MM:ss'}}</td>
                        <td [ngStyle]="commonService.statusColors[order.status]">{{order.status}}</td>
                        <td>
                            <span [routerLink]="['/cart', order.orderId,{mode:'view'}]" class="btn-view"><i class="fas fa-eye fa-lg"></i></span>
                            <span *ngIf="order.status != 'Completed'" [routerLink]="['/cart', order.orderId,{mode:'edit'}]" class="btn-edit"><i class="fas fa-pencil-alt fa-lg"></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>