.brand-mega-menu {
  margin: 1px;
}
  
 .brand-mega-menu a{
  color: white;
}

.brand-mega-menu a:hover{
  border: 1px solid lawngreen;
  border-radius: 10px;
  background-color: inherit;
  margin:-1px;
}


/* .brand-menu-dropdown {
  float: left;
  overflow: hidden;
}

.brand-menu-dropdown .brand-menu-dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; 
  margin: 0;
}

.brand-menu-dropdown-content {
  display: none;
  position: absolute;
  background-color:#555;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

.brand-menu-dropdown-content{
  padding: 16px;
  color: white;
}

.brand-menu-dropdown:hover .brand-menu-dropdown-content {
  display: block;
}

.brand-menu-column {
  float: left;
  padding: 10px;
  background-color:#555;
}

.brand-menu-column a {
  float: none;
  color: white;
  padding: 4px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.brand-menu-column a:hover {
  color:lawngreen;
}
.brand-menu-row:after {
  content: "";
  display: table;
  clear: both;
}

.active {
  background-color: gray;
} */