<div style="display: flex; flex-direction: row; justify-content: flex-start;" class="brand-mega-menu">
    <div style="display: flex; flex-direction: column;">
        <a [routerLink]="['/products/productlist/', {brand:'HindWare'}]" class="dropdown-item">Hindware</a>
        <a [routerLink]="['/products/productlist/', {brand:'Jaquar'}]" class="dropdown-item">Jaquar</a>
        <a [routerLink]="['/products/productlist/', {brand:'Kohler'}]" class="dropdown-item">Kohler</a>
        <a [routerLink]="['/products/productlist/', {brand:'Waterman'}]" class="dropdown-item">Waterman</a>
        <a [routerLink]="['/products/productlist/', {brand:'Queo'}]" class="dropdown-item">Queo</a>
        <a [routerLink]="['/products/productlist/', {brand:'Amore'}]" class="dropdown-item">Amore</a>
        <a [routerLink]="['/products/productlist/', {brand:'Alchymi'}]" class="dropdown-item">Alchymi</a>
    </div>
    <div style="display: flex; flex-direction: column;">
        <a [routerLink]="['/products/productlist/', {brand:'AmericanStandard'}]" class="dropdown-item">American Standard</a>
        <a [routerLink]="['/products/productlist/', {brand:'Nirali'}]" class="dropdown-item">Nirali</a>
        <a [routerLink]="['/products/productlist/', {brand:'Geberit'}]" class="dropdown-item">Geberit</a>
        <a [routerLink]="['/products/productlist/', {brand:'Crown'}]" class="dropdown-item">Crown</a>
        <a [routerLink]="['/products/productlist/', {brand:'Grohe'}]" class="dropdown-item">Grohe</a>
        <a [routerLink]="['/products/productlist/', {brand:'Carysil'}]" class="dropdown-item">Carysil</a>
        <a [routerLink]="['/products/productlist/', {brand:'Oyster'}]" class="dropdown-item">Oyster</a>
    </div>
    <div style="display: flex; flex-direction: column;">
        <a [routerLink]="['/products/productlist/', {brand:'Astral'}]" class="dropdown-item">Astral</a>
        <a [routerLink]="['/products/productlist/', {brand:'Prince'}]" class="dropdown-item">Prince</a>
        <a [routerLink]="['/products/productlist/', {brand:'CRI'}]" class="dropdown-item">CRI</a>
        <a [routerLink]="['/products/productlist/', {brand:'Star'}]" class="dropdown-item">Star</a>
        <a [routerLink]="['/products/productlist/', {brand:'Sintex'}]" class="dropdown-item">Sintex</a>
    </div>
</div>

<!-- <div class="brand-menu-dropdown">
  <button class="brand-menu-dropbtn">Brand
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="brand-menu-dropdown-content">
    <div class="brand-menu-row">
      <div class="brand-menu-column">
        <a [routerLink]="['/products/productlist/', {brand:'HindWare'}]" >Hindware</a>
        <a [routerLink]="['/products/productlist/', {brand:'Jaquar'}]" >Jaquar</a>
        <a [routerLink]="['/products/productlist/', {brand:'Kohler'}]" >Kohler</a>
        <a [routerLink]="['/products/productlist/', {brand:'Waterman'}]" >Waterman</a>
        <a [routerLink]="['/products/productlist/', {brand:'Queo'}]" >Queo</a>
        <a [routerLink]="['/products/productlist/', {brand:'Amore'}]" >Amore</a>
        <a [routerLink]="['/products/productlist/', {brand:'Alchymi'}]" >Alchymi</a>
      </div>
      <div class="brand-menu-column">
        <a [routerLink]="['/products/productlist/', {brand:'AmericanStandard'}]">American Standard</a>
        <a [routerLink]="['/products/productlist/', {brand:'Nirali'}]">Nirali</a>
        <a [routerLink]="['/products/productlist/', {brand:'Geberit'}]">Geberit</a>
        <a [routerLink]="['/products/productlist/', {brand:'Crown'}]">Crown</a>
        <a [routerLink]="['/products/productlist/', {brand:'Grohe'}]">Grohe</a>
        <a [routerLink]="['/products/productlist/', {brand:'Carysil'}]">Carysil</a>
        <a [routerLink]="['/products/productlist/', {brand:'Oyster'}]">Oyster</a>
      </div>
      <div class="brand-menu-column">
        <a [routerLink]="['/products/productlist/', {brand:'Astral'}]">Astral</a>
        <a [routerLink]="['/products/productlist/', {brand:'Prince'}]">Prince</a>
        <a [routerLink]="['/products/productlist/', {brand:'CRI'}]">CRI</a>
        <a [routerLink]="['/products/productlist/', {brand:'Star'}]">Star</a>
        <a [routerLink]="['/products/productlist/', {brand:'Sintex'}]">Sintex</a>
      </div>
    </div>
  </div>
</div> -->