<!-- <div class="cartcontainer">
  <div *ngIf="cartService.cartTotal==0">
    <h1 class="cartNoitems">Add Items To Your Cart</h1>
  </div>
  <div *ngIf="cartService.cartTotal>0">
    <h1 class="cartTotal">Cart Total: {{cartService.cartTotal}}</h1>
    <div *ngFor="let product of cartService.items" class="card">
      <a [routerLink]="['/products/product', product.id]">
        <img src={{product.img}} alt={{product.alt}}>
      </a>
      <div class="container">
        <h4><b>{{product.brand}}</b></h4> 
        <p><i>{{product.desc}}</i></p>
      </div>
      <div class="cartIcons">
        <label class="priceId"><b>MRP:</b></label>{{product.mrp | currency:"₹"}}
        <label class="QtyId"><b>Qty:</b></label>
        <input type="number" [(ngModel)]="product.qty" (change)="qtyChange(product)" min=0 value={{product.qty}} class="numSpinner">
        <button class="btnremove" (click)="remove(product)">Remove</button>
      </div>
    </div>
  </div>
  
</div> -->

<!-- <div *ngFor="let item of items">
  <div class="item">
    <div class="itemImage"> 
      <a style="text-decoration: none; color: black;" [routerLink]="['/products/product', item.id]">
        <img src={{item.img}} alt={{item.alt}} style="width: 100px;height:100px;">
      </a>
    </div>
    <div class="itemDetails">
      <h4><b>{{item.name}}</b></h4> 
      <p>{{item.desc}}</p>
      <input type="text"/>
      <input type="text"/>
      <div class="itemPrice">{{item.price}}</div>
    </div>
  </div>
  
</div> -->
<!-- <div class="cartcontainer">
  <table>
    <tr>
      <th *ngfor="let col of columns">{{col}}</th>
    </tr>
    <tr *ngFor="let item of items" class="card">
      <td><img src={{item.img}} alt={{item.alt}}></td>
      <td>{{item.name}}</td>
      <td>{{item.desc}}</td>
      <td>{{item.price}}</td>
      <td>Remove</td>
    </tr>
  </table>
</div> -->
<div class="container">
    <div class="row">
        <div *ngIf="order.items.length == 0" style="color: rgba(0, 0, 0, 0.6);" class="col-12">
            <br>
            <br>
            <h1 class="text-center"><i>Add Items To Cart</i>&nbsp;<i class="fa fa-shopping-cart fa-lg"></i></h1>
        </div>
        <div *ngIf="order.items.length >0" class="col-12" id="cart">
            <div>
                <!-- <div style="display: flex;flex-direction: row;">
                    <div class="text-right">
                        <img src="/assets/images/tap.png" class="img-fluid" style="height: 100px; width: 100px;">
                    </div>
                    <div style="font-weight: bold;">
                        <span style="color:orangered; font-size: 50px;">Abhi</span>&nbsp;
                        <span style="color: blue; font-size: 50px;">Vairavan</span>
                        <h6>Authorised distributors for plumbing materials</h6>
                    </div>
                </div> -->
                <table class="table table-responsive text-center align-middle" id="CartTable">
                    <thead>
                        <tr id="cartTableHeader">
                            <th colspan="10">

                            </th>
                        </tr>
                        <tr *ngIf="order.status == 'In Cart'">
                            <th colspan="10" style="color: green;">
                                <h4>The below Quotation is on MRP. For Discounts Contact Us.</h4>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="10" class="align-middle">
                                <div style="display: flex;align-items: center; justify-content:center">
                                    <span style="margin-right: 5%" [ngStyle]="{'margin-top': (mode == 'edit')?'-4px':'0px'}">
                                        <b>OrderId:</b>&nbsp;&nbsp;{{order.orderId}}
                                    </span>
                                    <span style="margin-right: 5%;">
                                        <form [formGroup]="cartForm">
                                            <span><b>OrderName:</b>&nbsp;&nbsp;</span>
                                    <span *ngIf="mode === 'view'">{{order.name}}</span>
                                    <span *ngIf="mode === 'edit'">
                                                <mat-form-field floatLabel = "never">
                                                    <input matInput formControlName ="orderName" placeholder="Enter Order Name"  required>
                                                    <mat-error *ngIf="this.cartForm.get('orderName')!.hasError('required')">
                                                        Order Name is Required
                                                    </mat-error>
                                                    <mat-error *ngIf="this.cartForm.get('orderName')!.hasError('pattern')">
                                                        Key In Valid Order Name
                                                      </mat-error>
                                                </mat-form-field>
                                            </span>
                                    </form>
                                    </span>
                                    <span>
                                        <span><b>OrderStatus:</b>&nbsp;&nbsp;</span>
                                    <span *ngIf="mode === 'view' || !commonService.user.isAdmin" [ngStyle]="commonService.statusColors[order.status]">{{order.status}}</span>
                                    <span *ngIf="mode === 'edit' && commonService.user.isAdmin">
                                            <mat-form-field [ngStyle]="commonService.statusColors[order.status]">
                                                <mat-select [(value)] = "(order.status == 'In Cart')? 'In Cart': order.status" [ngStyle]="commonService.statusColors[order.status]">
                                                  <mat-option style = "color:deepskyblue" value="Cancelled">Submitted</mat-option>
                                                  <mat-option style = "color:orange" value="Pending">Pending</mat-option>
                                                  <mat-option style = "color:green" value="Completed">Completed</mat-option>
                                                  <mat-option style = "color:red" value="Cancelled">Cancelled</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </span>
                                    </span>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th [ngStyle]="{'width': ((col=='Qty' && mode === 'edit') || (col=='Disc' && mode === 'edit') || (col=='Image' && mode === 'edit'))? '20%' : (col=='Image')?'10%':'initial'}" *ngFor="let col of colHeadings" class="text-center">{{col}}</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr *ngFor="let product of order.items;let i = index">
                            <td>{{i+1}}</td>
                            <td>
                                <a>
                                    <img src={{product.img}} alt={{product.alt}} class="img-fluid img-thumbnail">
                                </a>
                            </td>
                            <td class="text-justify"><b><span *ngIf="product.brand.length != 0">{{product.brand}}~</span>{{product.model}}~{{product.productId}}</b><br>{{product.desc}}</td>
                            <td>{{product.tax}}%</td>
                            <td *ngIf="mode === 'view'">{{product.qty}}</td>
                            <td *ngIf="mode === 'edit'"><input type="number" [(ngModel)]="product.qty" (change)="qtyChange(product)" min=0 value={{product.qty}} step={{product.unit}} class="numSpinner"><small>{{product.qtyType}}</small></td>
                            <td style="text-align: right">{{product.mrp | currency:"₹"}}</td>
                            <td *ngIf="mode === 'view' || !commonService.user.isAdmin">{{product.disc}}%</td>
                            <td *ngIf="mode === 'edit' && commonService.user.isAdmin"><span><input type="text" [(ngModel)]="product.disc" (change)="applyChanges(product)" class="textDisc"></span>%</td>
                            <td style="text-align: right;">{{product.mrp - ((product.disc/100)*product.mrp) | currency:"₹"}}</td>
                            <td style="text-align: right;">{{(product.mrp - ((product.disc/100)*product.mrp)) * product.qty | currency:"₹"}}</td>
                            <td *ngIf="mode === 'edit'"><span class="btn-remove" (click)="remove(product)"><i class="fas fa-trash fa-lg"></i></span></td>
                            <td *ngIf="mode === 'view'"></td>
                            <!-- <td><button class="btnremove" (click)="remove(product)">Remove</button></td> -->
                        </tr>
                        <tr>
                            <td colspan="8" class="text-right">
                                <h6>Total Amount:</h6>
                            </td>
                            <td colspan="1" class="text-right">
                                <h6>{{order.cartTotal| currency:"₹"}}</h6>
                            </td>
                            <td colspan="1">
                            </td>
                        </tr>
                        <tr *ngFor="let item of order.taxPercentages | keyvalue">
                            <td colspan="8" class="text-right" *ngIf="order.status != 'In Cart' && order.status != 'Submitted'">
                                <h6>SGST @ {{convertToInt(item.key)/2}}% - Output Tax on {{ item.value | currency:"₹" }}:</h6>
                            </td>
                            <td colspan="1" class="text-right" *ngIf="order.status != 'In Cart' && order.status != 'Submitted'">
                                <h6>{{ getTax(item) | currency:"₹" }}</h6>
                            </td>
                            <td colspan="1" *ngIf="order.status != 'In Cart' && order.status != 'Submitted'">
                            </td>
                        </tr>
                        <tr *ngFor="let item of order.taxPercentages | keyvalue">
                            <td colspan="8" class="text-right" *ngIf="order.status != 'In Cart' && order.status != 'Submitted'">
                                <h6>CGST @ {{convertToInt(item.key)/2}}% - Output Tax on {{ item.value | currency:"₹" }}:</h6>
                            </td>
                            <td colspan="1" class="text-right" *ngIf="order.status != 'In Cart' && order.status != 'Submitted'">
                                <h6>{{ getTax(item) | currency:"₹" }}</h6>
                            </td>
                            <td colspan="1" *ngIf="order.status != 'In Cart' && order.status != 'Submitted'">
                            </td>
                        </tr>
                        <tr *ngIf="order.status != 'In Cart' && order.status != 'Submitted'">
                            <td colspan="8" class="text-right">
                                <h6>Amount With Tax:</h6>
                            </td>
                            <td colspan="1" class="text-right">
                                <h6>{{(order.cartTotal + getTotalTax()).toFixed(2)}}</h6>
                            </td>
                            <td colspan="1">
                            </td>
                        </tr>
                        <tr *ngIf="order.status != 'In Cart' && order.status != 'Submitted'">
                            <td colspan="8" class="text-right">
                                <h6>Cash Discount:</h6>
                            </td>
                            <td colspan="1" class="text-right">
                                <span *ngIf="mode === 'edit' && commonService.user.isAdmin">
                                    <input id='cashDisc' type="number" [(ngModel)]="order.cashDiscount" (change)="getFinalAmount()" class="cashDisc">
                                </span>
                                <h6 *ngIf="mode === 'view' || !commonService.user.isAdmin">{{order.cashDiscount}}</h6>
                            </td>
                            <td colspan="1">
                            </td>
                        </tr>
                        <tr *ngIf="order.status != 'In Cart' && order.status != 'Submitted'">
                            <td colspan="8" class="text-right">
                                <h6>Final Amount Rounded Off To:</h6>
                            </td>
                            <td colspan="1" class="text-right">
                                <h6>{{getFinalAmount()}}</h6>
                            </td>
                            <td colspan="1">
                            </td>
                        </tr>
                        <!-- <tr *ngIf="mode === 'edit' && commonService.user.isAdmin">
                            <td colspan="10" class="text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                            </td>
                        </tr> -->
                        <tr id="btns">
                            <td colspan="5">

                            </td>
                            <td colspan="5" class="text-right">
                                <button *ngIf="mode === 'edit'" type="submit" class="btn btn-getQuote" (click)="clearCart()"><span>{{order.status == 'In Cart' ? 'Clear Cart' : 'Cancel Editing'}}</span></button>&nbsp;&nbsp;
                                <button *ngIf="mode === 'view'" type="submit" class="btn btn-getQuote" (click)="print()">Print</button>&nbsp;&nbsp;
                                <button *ngIf="mode === 'view'" type="submit" class="btn btn-getQuote" (click)="excel()">ExportToExcel</button>&nbsp;&nbsp;
                                <button *ngIf="mode === 'edit' && commonService.user.isAdmin" type="submit" class="btn btn-save" (click)="getQuote()">Save</button>
                                <button *ngIf="mode === 'edit' && !commonService.user.isAdmin" type="submit" class="btn btn-getQuote" (click)="getQuote()">Save & GetQuote</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-left">
                                <b>Delivery as per agreed schedule and terms.</b><br>
                                <b>Rates are valid for 7 days.</b><br>
                                <b>Unloading client scope.</b><br>
                                <b>Frieght charges extra.</b><br>
                                <b>Cheque payment only with a/c payee Cheque in favor Abhivairavans Plumbing Co.,</b><br>
                                <b>Branch: Kodambhakkam</b>
                            </td>
                            <td colspan="5" class="text-right">
                                <b>Bank Account Details:-</b><br> Bank Name: ICICI Bank Ltd<br> Branch: K K Nagar Chennai<br> Account No: 007751005066<br> IFS Code: ICIC0000077
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr id="cartTableFooter">
                            <td colspan="10">

                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="pageHeader"><img src="/assets/images/billing.jpeg" class="img-fluid" style="height: 90px"></div>
                <div class="pageFooter"><img src="/assets/images/cartBottomImage.png" class="img-fluid" style="height: 100px;width:92%"></div>
            </div>
        </div>
    </div>
</div>