.sticky-top {
     z-index: 500;
 }

 .menuSearch i{
    color:rgba(0, 0, 0, 0.6) !important;
 }

 .menuSearch i:hover{
    color:lawngreen !important;
 }

 .appBrand {
     display: flex;
     flex-direction: column;
     text-decoration: none;
 }
 
 .appBrand:hover a {
     color: lawngreen;
 }
 
 .app-heading {
     font-size: x-large;
 }
 
 .app-subtitle {
     font-size: small;
 }
 
 .bg-myapp {
     background-color: rgba(0, 0, 0, 0.6);
     color: white;
 }

 .bg-myapp a {
     color: white;
 }
 
 .bg-myapp a:hover {
     color: lawngreen;
     cursor: pointer;
 }

 .bg-myapp a:focus {
    color: lawngreen;
}

 .bg-myapp .navbar-nav .show>.nav-link {
    color: lawngreen;
}

 /* .navbar-light a {
     color: white !important;
 }
 
 .navbar-light a:hover {
     color: lawngreen !important;
 }*/
 
 .bg-myapp .navbar-toggler {
     color: white;
     border-color: white;
 }
 
 .bg-myapp .navbar-toggler:focus {
     color: lawngreen;
 }

 .bg-myapp .navbar-toggler:hover {
     color: lawngreen;
     border-color: lawngreen;
 }

 .bg-myapp button:focus {
    outline: 0px;
 }

 .dropdown-menu {
     right: 0 !important;
     left: unset;
     background-color: rgba(0, 0, 0, 0.0);
     border: 0px;
     margin: .400rem 0 0;
 }

 @media (max-width: 990px){
    .bg-myapp .navbar-collapse{
        height: 200px;
        overflow: auto;
    }
    .appBrand{
        display: none;
    }
    .app-logo{
        display: flex;
    }
 }

 @media (min-width: 991px){
    .appBrand{
        display: flex;
    }
    .app-logo{
        display: none;
    }
 }
 
 #snackbar {
     visibility: hidden;
     min-width: 250px;
     margin-left: -125px;
     background-color: #4CAF50;
     color: white;
     text-align: center;
     border-radius: 10px;
     padding: 16px;
     position: fixed;
     z-index: 3000;
     left: 50%;
     top: 30px;
 }
 
 #snackbar.show {
     visibility: visible;
     -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
     animation: fadein 0.5s, fadeout 0.5s 2.5s;
 }
 
 @-webkit-keyframes fadein {
     from {
         top: 0;
         opacity: 0;
     }
     to {
         top: 30px;
         opacity: 1;
     }
 }
 
 @keyframes fadein {
     from {
         top: 0;
         opacity: 0;
     }
     to {
         top: 30px;
         opacity: 1;
     }
 }
 
 @-webkit-keyframes fadeout {
     from {
         top: 30px;
         opacity: 1;
     }
     to {
         top: 0;
         opacity: 0;
     }
 }
 
 @keyframes fadeout {
     from {
         top: 30px;
         opacity: 1;
     }
     to {
         top: 0;
         opacity: 0;
     }
 }