<div class="profile-menu">
    <a *ngIf="!commonService.user.loggedIn" [routerLink]="['/login']" class="dropdown-item">Sign In</a>
    <a *ngIf="!commonService.user.loggedIn" [routerLink]="['/signup']" class="dropdown-item">Sign Up</a>
    <a *ngIf="commonService.user.loggedIn" [routerLink]="['/products']" (click)="signOut()" class="dropdown-item">Sign Out</a>
    <a *ngIf="commonService.user.loggedIn" [routerLink]="['/orders', commonService.user.userId]" class="dropdown-item">My Orders</a>
</div>

<!-- <div style="display: flex; flex-direction: row; justify-content: flex-start;" class="profile-menu">
    <div style="display: flex; flex-direction: column;">
      <a [routerLink]="['/login']" class="dropdown-item">Sign In</a> 
      <a [routerLink]="['/signup']" class="dropdown-item">Sign Up</a>
      <a [routerLink]="['/products']" class="dropdown-item">Sign Out</a>
      <a [routerLink]="['/orders', commonService..user.userId]" class="dropdown-item">Orders</a>
    </div>
</div> -->