<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br>
            <h3>Enquiry</h3>
            <br>
            <form #contactusForm="ngForm" (ngSubmit)="onSubmit();contactusForm.reset()">

                <div class="form-group shadow-textarea">

                    <textarea name="request" [(ngModel)]="userrequest" #request="ngModel" required class="form-control z-depth-1" rows="3" placeholder="How can we help you?"></textarea>

                    <div *ngIf="request.invalid && (request.dirty || request.touched)" class="alert alert-danger">
                        <div *ngIf="request.errors.required">
                            Please Fill your question.
                        </div>
                    </div>
                </div>


                <div class="form-group">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="email" name="email" [(ngModel)]="useremail" #email="ngModel" required email class="form-control z-depth-1" placeholder="Email">
                    </div>

                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                        <div *ngIf="email.errors.required">
                            Email is required.
                        </div>
                        <div *ngIf="email.errors.email">
                            Enter valid email.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        </div>
                        <input type="tel" name="phone" [(ngModel)]="userPhone" #phone="ngModel" required [pattern]="mobNumberPattern" class="form-control z-depth-1" placeholder="Phone">
                    </div>
                    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
                        <div *ngIf="phone.errors.required">
                            Phone is required.
                        </div>
                        <div *ngIf="phone.errors.pattern">
                            Enter valid phone number.
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button [disabled]="contactusForm.invalid" type="submit" class="btn btn-contact-us">Send Enquiry</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <br>
            <h3>Contact Us</h3>
            <br>
            <h4>Abhi Vairavan's Plumbing Co.</h4>
            <h5>Contact Person</h5>
            <p>Sales Executive & Marketing  Executive</p>
            <h5>Address</h5>
            <h6><u>Kodambakkam  Showroom</u></h6>
            <p> New No.59, Arcot Road, Kodambakkam, Chennai, Tamil Nadu -600024</p>
            <div>
                <h6> <i class="fas fa-phone"></i> 99625 44444</h6>
            </div>
            <br>
            <h6><u>Velachery Showroom</u></h6>
            <p> GK Kasi Tower, No 17, 15th St, Tansi Nagar, Velachery, Chennai, Tamil Nadu 600042</p>
            <div>
                <h6> <i class="fas fa-phone"></i> 87110 44444</h6>
            </div>
            <br>
            <h6><u>Ramapuram Warehouse</u></h6>
            <p> Gdwn: No.192/6&7, Rathna Complex, Balambigai Nagar, Ramapuram Chennai Tamil Nadu 600089</p>
            <div>
                <h6> <i class="fas fa-phone"></i> 99625 50239</h6>
            </div>
            <br>
            <h6><u>Kolathur Showroom</u></h6>
            <p> Plot No.15 & 17, 200 Feet road, Shastri nagar, Kolathur Chennai Tamilnadu 600099 Landmark : Near chennai north RTO office</p>
            <div>
                <h6> <i class="fas fa-phone"></i> 90862 44444</h6>
            </div>
        </div>
        <div class="col-md-12" style="text-align: justify;text-justify: inter-word;">
            <br>
            <h3>About Us</h3>
            <br>
            
            <p>Abhi Vairavans Plumbing Co. Chennai, Tamil Nadu, is a partnership firm engaged in plumbing and related endeavours such as retail, wholesale and dealing large volume consignments of plumbing and Sanitary Ware in chennai. On deal are products like Sanitary Ware items,ceramics, bathroom accessories, bathroom fittings, kitchen sink, pipes and fittings, water pump, shower taps, water tanks and bathtubs, faucets, water tubes and mirror cabinets.</p><br>

            <p>Our firm is ever conscious of quality with the habit of maintaining maximum standards of these products. Products offered by us are designed and developed by trusted and well established vendors. While procuring products from these vendors, we conduct stringent quality adherence tests professional quality inspectors working with us.</p><br>

            <p>In making all into reality, we are well supported by a team of efficient professionals who work with dedication and sincerity. Our team consists of technical experts, quality analysts, sales and marketing team directly supervised by our partner Mrs. Renganayaki who is MBA. She is well known as energetic and efficient women entrepreneur in the field. She who challenges the market that to double our sales every year irrespective of market conditions and achieves that. All are experts in their domain help us in making strong durable relationship with our clients as well as vendors.</p><br>

            <p>To offer complete satisfaction to our clients, we provide solutions for plumbing and sanitation only after testing their functionality and certifying them for quality. Our business norms are structured to help the clients as well as vendors in understanding us better and making fair deals. Also giving best post sale service to make a fix on their request.</p><br>

            <p>Our Sanitary Ware products are known for their durability, functionality, reliability and cost effectiveness across the nation. Our major customer base are from hotels, institutions like schools and colleges, builders, infrastructure products, construction industry, retail hardware counter across chennai. This client centric approach has helped us in gaining huge appreciations and testimonials in the industry.</p><br>

            <p>We are mentored by our Managing Partner Mr.Ramanathan who is a gold medalist in graduation, His able guidance and in-depth knowledge about the industry has helped us to excel by offering requirement based solution to our clients. With a rich industry experience of 15 years, he has helped us in retaining benchmark position in the industry and to scale untouched heights. He has also been serving as a member of Indian Plumbing Association as well as Past President of Lions Club of golden Hearts, District-324A1.</p><br>

            <p><b>Awards / Recognition</b></p>
            <p> Received Best Buyers Entrepreneur Award from Bharath social Academy for the year 2010-2011.</p><br>


            <p><b>Video link :</b> https://youtu.be/rOVv6aLn8Cg</p><br>

        </div>
    </div>
</div>