.btn-AdCtgry, .btn-AdBrnd, .btn-AdMdl, 
.btn-rmvCtgry, .btn-rmvBrnd, .btn-rmvMdl,
.btn-AdPrdt {
    background-color: rgba(0,0,0,0.6);
    color: white;
}

.btn-AdCtgry:hover, .btn-AdBrnd:hover, .btn-AdMdl:hover,
.btn-rmvCtgry:hover, .btn-rmvBrnd:hover, .btn-rmvMdl:hover,
.btn-AdPrdt:hover {
    color: lawngreen;
}

.btn-AdCtgry:disabled, .btn-AdBrnd:disabled, .btn-AdMdl:disabled,
.btn-rmvCtgry:disabled, .btn-rmvBrnd:disabled, .btn-rmvMdl:disabled,
.btn-AdPrdt:disabled {
    background-color: #ddd;
    color: black;
}

.card{
    background-color: white;
    border: 1px solid;
    border-color: #555;
}

.full-width {
    width: 100%;
}

.searchIcon{
    font-size: 28px !important;
}
.searchIcon:hover{
    color: lawngreen !important;
}
.searchIcon:focus{
    outline: 5px lawngreen !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
    background-color: lawngreen !important;
  }
  
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: lawngreen !important;
  }
  
  ::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: lawngreen !important;
  }